---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";

interface Props {
  name: string;
  twitterLink?: string;
}

const { name, twitterLink } = Astro.props;
const siteUrl = Astro.url.origin;
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    {
      twitterLink && (
        <p class="max-w-xl m-auto text-lg">
          Want to chat? shoot me a dm <a
            href={twitterLink}
            target="_blank"
            class="link link-hover text-primary"
            >with a direct question on X (twitter)</a
          > and I'll respond whenever I can.
        </p>
      )
    }
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Crafted by an Artisan <a
        class="link"
        href={siteUrl}
        target="_blank"
        ><Pickaxe class="size-3 inline-block mr-1" />{name}</a
      >
    </p>
  </aside>
</footer>
